* {
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
}

img {
    user-select: none;
}

.header {
    background: #ffff;
    width: 100%;
    position: fixed;
    z-index: 100;
    padding-bottom: 1px;
}

/* NAV BAR */

.menu {
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 7px;
    list-style: none;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

.menu .logo {
    width: 25px;
    padding: 10px;
    padding-left: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.menu .logo:hover {
    background-color: #eeeeee;
}

.menu .home-p {
    color: white;
    background-color: black;
    padding: 20px 20px;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    margin: 0px 4px;
}

.menu .today-p {
    padding: 10px;
    color: black
}

.menu .create-p {
    padding: 10px;
    color: black
}

.menu .finder {
    margin-right: 10px;
}

.menu .finder input {
    display: inline-block;
    width: 87.5rem;
    margin: 0px 5px;
    padding: 0.75rem 2.1875rem;
    border-radius: 2.5rem;
    outline: none;
    position: relative;
    background-color: #efefef;
    font-size: 1rem;
    background-image: url(https://www.freepnglogos.com/uploads/search-png/search-icon-transparent-images-vector-15.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center left;
    background-position: 10px;
    color: gray;
    border: 4px solid transparent;
}

.menu .finder input:hover {
    background-color: #3333;
}

.menu .finder input:focus {
    border: 4px solid #7bb5f0;
    padding: 12px 2.1875rem;
    background-image: none;
}

.menu .finder input::placeholder {
    user-select: none;
}

.notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1.5625rem;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.625rem;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1.5625rem;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.625rem;
}

.profile-pinterest {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-pinterest img {
    width: 1.5625rem;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.625rem;
}

.profile-pinterest img:hover {
    background-color: #eeee;
}

.message:hover {
    background-color: #eeee;
}

.notifications:hover {
    background-color: #eeee;
}

#arrow svg {
    padding: 0.625rem;
    cursor: pointer;
}

/* Image Style */

.card-image img {
    max-width: 100%;
    margin-bottom: 0.5em;
    border-radius: 20px;
    cursor: zoom-in; 
    transition: all 0.2s ease;
}

main {
    columns: 5 12.5rem;
    column-gap: 0.5em;
    padding: 6.25rem;
}

/* Botones */

.card-image {
    position: relative;;
}

.card-image .btn-save {
    position: absolute;
    background: #e60023;
    border: none;
    top: 20px;
    right: 20px;
    opacity: 0;
    color: white;
    border-radius: 50px;
    padding: 15px 15px;
    cursor: pointer;
}

.card-image .btn-enviar {
    position: absolute;
    width: 1.8125rem;
    height: 1.8125rem;
    background: none;
    border: none;
    border-radius: 70%;
    background-color: white;
    bottom: 2.375rem;
    right: 3.75rem;
    opacity: 0;
    cursor: pointer;
}

.card-image .btn-more {
    position: absolute;
    background: none;
    border: none;
    border-radius: 70%;
    background-color: white;
    width: 1.875rem;
    height: 1.875rem;
    bottom: 2.375rem;
    right: 0.9375rem;
    opacity: 0;
    cursor: pointer;
}


.card-image:hover img {
    transition: all 0.2s ease;
    filter: brightness(0.70);
}

.card-image:hover .btn-save {
    opacity: 1;;
}

.card-image:hover .btn-more {
    opacity: 1;
}

.card-image:hover .btn-enviar {
    opacity: 1;
}

/* Responsive */

@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }
    .menu .finder input {
        width: 700px;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 14px;
    }
    .menu .finder input {
        width: 520px;
    }  
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .menu .finder input {
        width: 290px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 12px;
    }
    .menu .finder input {
        width: 100px;
        background-image: none;
    }
    main {
            columns: 3 90px;
            column-gap: 0.5em;
            padding: 90px;
        }
}
