* {
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
}

img {
    user-select: none;
}

.header {
    background: #ffff;
    width: 100%;
    position: fixed;
    z-index: 100;
    padding-bottom: 1px;
}

/* NAV BAR */

.menu {
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 7px;
    list-style: none;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

.menu .logo {
    width: 20px;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 50%;
}

.menu .logo:hover {
    background-color: #eeeeee;
}

.menu .home-p {
    color: white;
    background-color: black;
    padding: 18px 20px;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    margin: 0px 4px;
}

.menu .today-p {
    padding: 10px;
    color: black
}

.menu .create-p {
    padding: 10px;
    color: black
}

.menu .finder {
    margin-right: 10px;
}

.menu .finder input {
    display: inline-block;
    width: 1400px;
    margin: 0px 5px;
    padding: 12px 35px;
    border-radius: 40px;
    outline: none;
    position: relative;
    background-color: #efefef;
    font-size: 15px;
    background-image: url(https://www.freepnglogos.com/uploads/search-png/search-icon-transparent-images-vector-15.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center left;
    background-position: 10px;
    color: gray;
    border: 4px solid transparent;
}

.menu .finder input:hover {
    background-color: #3333;
}

.menu .finder input:focus {
    border: 4px solid #7bb5f0;
    padding: 12px 35px;
    background-image: none;
}

.menu .finder input::placeholder {
    user-select: none;
}

.notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
}

.profile-pinterest {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-pinterest img {
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
}

.profile-pinterest img:hover {
    background-color: #eeee;
}

.message:hover {
    background-color: #eeee;
}

.notifications:hover {
    background-color: #eeee;
}

#arrow svg {
    padding: 10px;
    cursor: pointer;
}

/* Image Style */

.card-image img {
    max-width: 100%;
    margin-bottom: 0.5em;
    border-radius: 20px;
    cursor: zoom-in; 
    transition: all 0.2s ease;
}

main {
    columns: 5 200px;
    column-gap: 0.5em;
    padding: 100px;
}

/* Botones */

.card-image {
    position: relative;;
}

.card-image .btn-save {
    position: absolute;
    background: #e60023;
    border: none;
    top: 20px;
    right: 20px;
    opacity: 0;
    color: white;
    border-radius: 50px;
    padding: 15px 15px;
    cursor: pointer;
}

.card-image .btn-enviar {
    position: absolute;
    width: 29px;
    height: 29px;
    background: none;
    border: none;
    border-radius: 70%;
    background-color: white;
    bottom: 38px;
    right: 60px;
    opacity: 0;
    cursor: pointer;
}

.card-image .btn-more {
    position: absolute;
    background: none;
    border: none;
    border-radius: 70%;
    background-color: white;
    width: 30px;
    height: 30px;
    bottom: 38px;
    right: 15px;
    opacity: 0;
    cursor: pointer;
}


.card-image:hover img {
    transition: all 0.2s ease;
    filter: brightness(0.70);
}

.card-image:hover .btn-save {
    opacity: 1;;
}

.card-image:hover .btn-more {
    opacity: 1;
}

.card-image:hover .btn-enviar {
    opacity: 1;
}